<img src="https://i2.wp.com/hackwagon.com/wp-content/uploads/2017/02/Logo-Web-Export.png?ssl=1" width=200/>
<h1> Hackwagon Academy: DS101 Extra Practice 3 </h1>

### Question 1

Print out the names of all students in this dataset

<b>Expected Output:</b>

    KT
    John
    Henry
    Mark

In [30]:
data = {
    'results': {
        'name': 'Classes',
        'data': [
            {
                'Class': 'A',
                'Students': ['KT', 'John']
            },
            {
                'Class': 'A',
                'Students': ['Henry', 'Mark']
            }
        ]
    }
}

for k,v in data.items():
    for k1,v1 in data[k].items():
        if (k1 == 'data'):
            for i in v1:
                for k2,v2 in i.items():
                    if(k2 == 'Students'):
                        for j in v2:
                            print(j)

KT
John
Henry
Mark

### Question 2

Print the total score of teachers and students in data, broken down by occupation

<b>Expected Output:</b>


    {
        'teacher': 4,
        'student': 15
    }

In [16]:
data = {
    'kt': { 'nric': 'S93250888', 'score': 10, 'occupation': 'student'},
    'john': {'nric': 'S93250818', 'score': 5, 'occupation': 'student'},
    'henry': { 'nric': 'S93250288', 'score': 2, 'occupation': 'teacher'},
    'mark': { 'nric': 'S93250218', 'score': 7, 'occupation': 'student'},
    'mark': { 'nric': 'S93250248', 'score': 2, 'occupation': 'teacher'},
}

result = {}

for k,v in data.items():
    score = v['score']
    occupation = v['occupation']
    if occupation not in result:
        result[occupation] = score
    else:
        result[occupation] += score

print(result)

{'student': 15, 'teacher': 4}

In [ ]:
reversed_result = {}
for k,v in sorted(result.items(), reverse=True):
    reversed_result[k] = v
    
print(reversed_result)

### Question 3

Print the average score of teachers and students in data, broken down by occupation

<b>Expected Output:</b>

    {
        'student': 7.5, 
        'teacher': 2.0
    }

In [38]:
data = {
    'kt': { 'nric': 'S93250888', 'score': 10, 'occupation': 'student'},
    'john': {'nric': 'S93250818', 'score': 5, 'occupation': 'student'},
    'henry': { 'nric': 'S93250288', 'score': 2, 'occupation': 'teacher'},
    'mark': { 'nric': 'S93250218', 'score': 7, 'occupation': 'student'},
    'mark': { 'nric': 'S93250248', 'score': 2, 'occupation': 'teacher'},
}

result = {}
count = {}

for k,v in data.items():
    score = v['score']
    occupation = v['occupation']
    if occupation not in result:
        result[occupation] = score
        count[occupation] = 1
    else:
        total = result[occupation] * count[occupation] + score
        count[occupation] += 1
        result[occupation] = total / count[occupation]

print(result)
print(count)

{'student': 7.5, 'teacher': 2.0}
{'student': 2, 'teacher': 2}

### Question 4

<h3> Largest palindrome product </h3>

A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 Ã— 99.

Find the largest palindrome made from the product of two 3-digit numbers.

**Expected Answers:**

    906609

In [5]:
highest  = 0
for i in range(1,1000):
    for j in range(1,1000):
        num = str(i * j)
        if (num == num[::-1]):
            if (int(num) > highest):
                highest = int(num)
print(highest)

906609

### Question 5

<h3> Print a Christmas tree </h3>

For a given n, where n is odd, print out a christmas tree that looks like this

When **n**  = 3

&nbsp;&nbsp;\*<br>
&nbsp;\*\*\* <br>
\*\*\*\*\* <br>

When **n**  = 5

&nbsp;&nbsp;&nbsp;&nbsp;\*<br>
&nbsp;&nbsp;&nbsp;\*\*\* <br>
&nbsp;&nbsp;\*\*\*\*\* <br>
&nbsp;\*\*\*\*\*\*\* <br>
\*\*\*\*\*\*\*\*\* <br>

When **n** = 1 <br>

*

In [27]:
n = 3

for i in range(1,n+1):
    print(" " * (n-i) + "*" * (i*2-1))

  *
 ***
*****